{
  "extends": [
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ]
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "spread" : true,
    "restParams" : true
  }
}